{% load static %}
<!--contains CSS codes-->
<!--div is used so that two codes can work seperately with proper space gap-->
<html>

<head>

    <title>Blog Forms App</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django Forms</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">New Blog +</a>
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>