{% extends 'base.html' %}

{% block content %}

    <h1>New Post</h1>
    <form action="" method = "post">{% csrf_token %}
        {{ form.as_p }}
        <input type = "submit" value = "save"/>
    </form>

{% endblock content %}

<!--
• On the top line we inherit from our base template.
• Use HTML <form> tags with the POST method since we’re sending data. If we were
  receiving data from a form, for example in a search box, we would use GET.
• Add a {% csrf_token %} which Django provides to protect our form from crosssite 
  scripting attacks. You should use it for all your Django forms.
• Then to output our form data we use {{ form.as_p }} which renders it within
  paragraph <p> tags.
• Finally specify an input type of submit and assign it the value “Save”
-->